@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

.app {
  font-family: 'Nunito', sans-serif;
  background-color: #a29bfe;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
